<footer>
      <ul class=nav>
        <% if(locals.user){ %> 
          <li><a href="/users/profile"><%= user.name %></a></li>
          <li><a href="/users/profile"><%= user.email %></a></li>
        <%}%>  
        </ul>
</footer>    