    
    <form action="/users/forgotMail" method="POST">
         <input type="email" name="email" placeholder="Enter a email">
         <button type="submit">Submit</button>
    </form>   
      <h4>Check your mail you entered above</h4>
