<title>
  <%=title%>
</title> 
<section id="post-feed">
  <h1>Posts</h1>
    <% if(locals.user){%>          
        <form action="/posts/create-post" method="POST">
          <textarea rows="5" placeholder="Type here ..."name="content"></textarea>
          <button type="submit" > Post</button>
        </form>
        <div id="posts-container">
          <% for(let i of post){%>
            <div class="post"><%= i.content%></div>
            <%}%>
        </div>  
      <%}%>
  </section>