<html>
   <head> 
    <title>
        Connect2
    </title>
    <link rel="stylesheet" href="/css/Layout.css"  type="text/css"> 
    <%- style%>
   </head> 
   <body>
    <%- include("header");%>  
     <%- body %>
     <%- include("footer");%>  
   </body> 
</html>