    <link rel="stylesheet" href="/css/login.css" type="text/css">
  <form action="/CreateSession" method="POST">  
    <div class="login-container">
       <h2 class="heading">Login In</h2>
        <div class="input-div">
          <input type="email" name="email" placeholder="Enter your Email">
        </div>
        <div class="input-div">
           <input type="password" name="password" placeholder="Enter your password">
        </div> 
       <button type="submit" class="bttn">Log In</button>   
    </div>  
  </form>   