
<link rel="stylesheet" href="/css/user_profile.css">  
<span class="signout"><a href="/signout"><button>Sign out</button></a></span>
<h1>Here is your profile of Connect2</h1>
<h1><%= name %></h1>
<h1><%= email %></h1>


