<link rel="stylesheet" href="/css/login.css" type="text/css">
<form action="/users/create" method="POST">  
  <div class="signup-container">
     <h2 class="heading">Sign up</h2>
     <div class="input-div">
        <input type="text" name ="name"placeholder="Enter your Name" required >
      </div>
      <div class="input-div">
        <input type="email"name ="email" placeholder="Enter your Email" required>
      </div>
      <div class="input-div">
         <input type="password" name="password" placeholder="Create your password" required>
      </div> 
      <div class="input-div">
        <input type="password" name="confirm_password" placeholder="Confirm your password" required>
     </div> 
     <button type="submit" class="bttn">Create</button>   
  </div>  
</form>   