/* console.log('sdfg'); */
body{
    margin: 0;
    padding:0;
}
footer{
    position: relative;
    top:90%;
    background-color: yellow;
    width:100%;
    color: black;
}
header{
    background-color: green;
    color: white;
}
#post-feed{
    margin-left:25%;
    width:50%;
    height:auto;
    border:2px solid blue;
    textarea{
        margin-left:10% ;
        width: 80%;
        height: 100px;
        font-size: 1.2rem;
        padding: 0.4rem;
        overflow: scroll;
        border: 2px solid green;
    }
}
#post-list-container{
    width:100%;
    border:1px solid black;
}
.nav{
    padding: 0.2rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
   li{
      display:block;
      font-size:1.5rem;
      a{ 
      text-decoration: none;
      }
       img{
           width:2rem;
           height:2.5rem;
       }
       
   }
}
.post-container{
    height: auto;
    padding: 0.4rem;
    margin:0.3rem 0.2rem 0.2rem;
    .post-detail{
        height:1.5rem;
        background-color: white;
        border:1px solid wheat
    }
    .post-content{
        // min-height:3rem;
        color:black;
        background-color: azure;
        font-size: 1.4rem;
        padding: 0.4rem;
        border:1px solid lightgray;
    }   
}

