
    <div class="template-container">
      <p>Hi!&nbsp;&nbsp;<b><%=comment.user.name %></b></p>
      <br>
      <br>
      <br>
     <p>check Someone <b>comment</b> on your <b>post</b></p>   
     <br>
     <br>
    <p>Thanks</p>
  </div>  
  